<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="0"/>
    <!--<errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="ELMAH.SQLite"/>-->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"/>
    <!--<errorMail from="noreply@example.com" to="elmah@example.com" priority="high"/>-->
    <errorMail from="error.rcm@gmail.com" to="mrinal@rentalcarmanager.com" subject="Mobile Application Error/ Exception" priority="High" async="true" smtpPort="0" smtpServer="smtp.gmail.com" userName="error.rcm@gmail.com" password="onename1" useSsl="true"/>
    <!--<errorMail subject="Application Exception" from="error@rentalcarmanager.com" to="support@rentalcarmanager.com" priority="high" async="true"  smtpPort="0" useSsl="true" />-->
  </elmah>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Project\RCM\Mails"/>
        <!--<network host="smtp.gmail.com" port="587" userName="error.rcm@gmail.com" password="onename1" defaultCredentials="false"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="CurrencySymbol" value="$"/>
    <add key="CompanyCode" value="Australiawide71"/>
    <add key="CompanyKey" value="WUkiAtIPJfCZe9KX9mTDsQ=="/>
    <add key="ShowCategory" value="False"/>
    <add key="ShowPromoCode" value="False"/>
    <add key="ShowAge" value="True"/>
    <add key="CategoryDefault" value=""/>
    <add key="AgeDefault" value="25"/>
    <add key="GAKey" value=""/>
    <add key="DayAddedToDefaultPickupDate" value="3"/>
    <add key="DayAddedToDefaultDropoffDate" value="6"/>
    <add key="ShowTimePicker" value="True"/>
    <add key="DefaultPickupTime" value="09:00"/>
    <add key="DefaultDropoffTime" value="09:00"/>
    <add key="HomePageLink" value=""/>
    <!--<add key="FindUsPageLink" value=""/>-->
    <add key="ContactUsPageLink" value=""/>
    <add key="DisplayOptionalInsurance" value="False"/>
    <add key="DisplayOptionalExtras" value="False"/>
    <add key="DisplayOptionalFree_KM" value="False"/>
    <add key="DisplayOptionalPayment" value="False"/>
    <add key="DisplayOptionalAdditionalContactDetails" value="False"/>
    <add key="CreditCardMadatory" value="True"/>
    <add key="AllowTermsAndConditionCheckBox" value="False"/>
    <add key="TextDisplayWithCreditCard" value=""/>
    <add key="CompanyID" value="6"/>
    <add key="CompanyUrlID" value="6"/>
    <add key="ApiSource" value="Mobile"/>
  <add key="WS_RCMClientAPI.RCMClientAPI" value="https://secure20.rentalcarmanager.com.au/clientwebmobileapi/RCMClientAPI.asmx"/>
  </appSettings>
  <system.web>
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.0" strict="false" explicit="true"/>
    <httpModules>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <!--<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
    <trust level="Full"/>
    <pages maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>-->
      <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>-->
      <!--<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>-->
			<remove name="UrlRewriter" />
		</modules>
    <defaultDocument enabled="true">
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="webStep1.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <!--<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>-->
     <remove name="Telerik_Web_UI_WebResource_axd"/>
     <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
     <remove name="Telerik.ReportViewer.axd_*"/>
     <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=6.1.12.807, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode"/>
      <remove name="ChartImage_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
	<connectionStrings>
		<remove name="RCMMain"/>
		<add connectionString="Initial Catalog=Australiawide71;Data Source=4461NVIRT;Integrated Security=SSPI;MultipleActiveResultSets=True;" name="RCMMain" />
	</connectionStrings>
</configuration>